In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import requests
import datetime
import random
#from api_key import api_key

In [2]:
csv_read = pd.read_csv("../cleaned_2018_texas_accidents.csv")
texas_accidents_df = pd.DataFrame(csv_read)
texas_accidents_df.head()

,Unnamed: 0,Time,Latitude,Longitude,City,County,State,Zipcode,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Year,Month,Day
0,195997,2018-11-30 04:04:00,29.354069,-98.400734,San Antonio,Bexar,TX,78222,66.9,90.0,29.79,8.0,4.6,0.0,Overcast,2018,11,30
1,195998,2018-11-30 04:03:22,29.452906,-98.501022,San Antonio,Bexar,TX,78212-3329,64.9,97.0,29.79,3.0,6.9,0.0,Overcast,2018,11,30
2,196000,2018-11-30 04:03:04,29.483614,-98.403198,San Antonio,Bexar,TX,78218,64.9,97.0,29.79,3.0,6.9,0.0,Overcast,2018,11,30
3,196019,2018-11-30 11:03:46,29.494801,-98.535782,San Antonio,Bexar,TX,78213-3947,68.0,87.0,29.79,10.0,8.1,0.0,Light Drizzle,2018,11,30
4,196021,2018-11-30 11:15:14,29.493256,-98.499268,San Antonio,Bexar,TX,78216-7205,68.0,87.0,29.79,10.0,8.1,0.0,Light Drizzle,2018,11,30

In [3]:
#texas_accidents_df["Time"] = pd.to_datetime(texas_accidents_df ["Time"])

In [4]:
sa_df = texas_accidents_df.loc[texas_accidents_df['City'] == 'San Antonio']
sa_df = sa_df [["Time", "Latitude", "Longitude", "City", "County", "State", "Zipcode", "Month", "Day"]]
sa_df['Time']= pd.to_datetime(sa_df['Time'])
sa_df

,Time,Latitude,Longitude,City,County,State,Zipcode,Month,Day
0,2018-11-30 04:04:00,29.354069,-98.400734,San Antonio,Bexar,TX,78222,11,30
1,2018-11-30 04:03:22,29.452906,-98.501022,San Antonio,Bexar,TX,78212-3329,11,30
2,2018-11-30 04:03:04,29.483614,-98.403198,San Antonio,Bexar,TX,78218,11,30
3,2018-11-30 11:03:46,29.494801,-98.535782,San Antonio,Bexar,TX,78213-3947,11,30
4,2018-11-30 11:15:14,29.493256,-98.499268,San Antonio,Bexar,TX,78216-7205,11,30
...,...,...,...,...,...,...,...,...,...
6937,2018-02-21 17:17:03,29.514950,-98.553270,San Antonio,Bexar,TX,78230,2,21
6988,2018-01-10 06:13:06,29.509690,-98.540040,San Antonio,Bexar,TX,78230-5136,1,10
6998,2018-01-16 08:25:53,29.439430,-98.444350,San Antonio,Bexar,TX,78208,1,16
7002,2018-01-16 13:35:36,29.393170,-98.511350,San Antonio,Bexar,TX,78204,1,16
7015,2018-01-26 12:28:48,29.439750,-98.443610,San Antonio,Bexar,TX,78208,1,26

In [5]:
#t = datetime.strptime('9:33:07','%H:%M:%S')
#print(t.hour)

In [6]:
#define bins as 0 to 5, 6 to 11, 12 to 17, 18 to 24, 24
bins = [0, 6, 12, 18, 24]

In [7]:
#names for the bins
group_names = ["Graveyard", "Morning", "Mid Day", "Evening"]

In [8]:
sa_df["Time of Day"] = pd.cut(sa_df["Time"].dt.hour, bins, labels=group_names, include_lowest=True)
sa_df

,Time,Latitude,Longitude,City,County,State,Zipcode,Month,Day,Time of Day
0,2018-11-30 04:04:00,29.354069,-98.400734,San Antonio,Bexar,TX,78222,11,30,Graveyard
1,2018-11-30 04:03:22,29.452906,-98.501022,San Antonio,Bexar,TX,78212-3329,11,30,Graveyard
2,2018-11-30 04:03:04,29.483614,-98.403198,San Antonio,Bexar,TX,78218,11,30,Graveyard
3,2018-11-30 11:03:46,29.494801,-98.535782,San Antonio,Bexar,TX,78213-3947,11,30,Morning
4,2018-11-30 11:15:14,29.493256,-98.499268,San Antonio,Bexar,TX,78216-7205,11,30,Morning
...,...,...,...,...,...,...,...,...,...,...
6937,2018-02-21 17:17:03,29.514950,-98.553270,San Antonio,Bexar,TX,78230,2,21,Mid Day
6988,2018-01-10 06:13:06,29.509690,-98.540040,San Antonio,Bexar,TX,78230-5136,1,10,Graveyard
6998,2018-01-16 08:25:53,29.439430,-98.444350,San Antonio,Bexar,TX,78208,1,16,Morning
7002,2018-01-16 13:35:36,29.393170,-98.511350,San Antonio,Bexar,TX,78204,1,16,Mid Day
7015,2018-01-26 12:28:48,29.439750,-98.443610,San Antonio,Bexar,TX,78208,1,26,Morning

In [9]:
sa_df["Time of Day"].value_counts()

Morning      441
Mid Day      215
Graveyard    144
Evening       54
Name: Time of Day, dtype: int64

In [19]:
grouped_by_month = sa_df.groupby("Month")
month_counts = grouped_by_month.count()
month_counts["Time"]

Month
1      49
2     146
3      17
4      14
5      47
6      40
7      80
8      11
9     134
10    153
11    110
12     53
Name: Time, dtype: int64

In [21]:
#define bins as 1 to 8, 9 to 16, 17 to 24, 25 to 31
bins = [1, 8, 16, 24, 31]

In [22]:
#names for the bins
group_names = ["QTR1", "QTR2", "QTR3", "QTR4"]

In [23]:
sa_df["Day of Month"] = pd.cut(sa_df["Day"], bins, labels=group_names, include_lowest=True)
sa_df

,Time,Latitude,Longitude,City,County,State,Zipcode,Month,Day,Time of Day,Day of Month
0,2018-11-30 04:04:00,29.354069,-98.400734,San Antonio,Bexar,TX,78222,11,30,Graveyard,QTR4
1,2018-11-30 04:03:22,29.452906,-98.501022,San Antonio,Bexar,TX,78212-3329,11,30,Graveyard,QTR4
2,2018-11-30 04:03:04,29.483614,-98.403198,San Antonio,Bexar,TX,78218,11,30,Graveyard,QTR4
3,2018-11-30 11:03:46,29.494801,-98.535782,San Antonio,Bexar,TX,78213-3947,11,30,Morning,QTR4
4,2018-11-30 11:15:14,29.493256,-98.499268,San Antonio,Bexar,TX,78216-7205,11,30,Morning,QTR4
...,...,...,...,...,...,...,...,...,...,...,...
6937,2018-02-21 17:17:03,29.514950,-98.553270,San Antonio,Bexar,TX,78230,2,21,Mid Day,QTR3
6988,2018-01-10 06:13:06,29.509690,-98.540040,San Antonio,Bexar,TX,78230-5136,1,10,Graveyard,QTR2
6998,2018-01-16 08:25:53,29.439430,-98.444350,San Antonio,Bexar,TX,78208,1,16,Morning,QTR2
7002,2018-01-16 13:35:36,29.393170,-98.511350,San Antonio,Bexar,TX,78204,1,16,Mid Day,QTR2
7015,2018-01-26 12:28:48,29.439750,-98.443610,San Antonio,Bexar,TX,78208,1,26,Morning,QTR4

In [24]:
grouped_by_day_of_month = sa_df.groupby("Day of Month")
day_counts = grouped_by_day_of_month.count()
day_counts["Time"]

Day of Month
QTR1    229
QTR2    307
QTR3    229
QTR4     89
Name: Time, dtype: int64

In [ ]:
sa_df.count()

In [ ]:
sa_counts = sa_df["Time"].value_counts()
sa_counts.head()